$color_1: #fff;
$color_2: white;
$font-family_1: 'Montserrat', 'sans-serif';
$background-color_1: #3e65da;
$background-color_2: white;
$background-color_3: #fff;
$color_10: #4070f4;
$color_20: #333;
$color_30: #fff;
$background-color_10: #034bf1;
$background-color_20: #fff;
$background-color_30: #4070f4;